{
  "presets": [
    ["env", {
      "module": false,
      "loose": true,
      "targets": {
        "browsers": [
          "ie >= 8",
          "Chrome >= 21",
          "Firefox >= 1",
          "Edge >= 13",
          "last 3 versions"
        ]
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}