/* ======================================== buttons ======================================= */

.btn {
  display: inline-block;
  *display: inline;
  padding: 5px 12px;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn-active,
.btn-disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn:active,
.btn-active {
  background-color: #cccccc \9;
}
  .btn:hover,
  .btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  }
  .btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  }
  .btn.active,
  .btn:active {
  background-image: none;
  outline: 0;
  }
  .btn-mini {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 16px;
  *line-height: 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  }
  a.btn-mini {
  line-height: 18px;
  }
  .btn-small {
  padding: 2px 10px;
  font-size: 12px;
  line-height: 16px;
  *line-height: 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  }
  a.btn-small {
  line-height: 18px;
  }
  .btn-medium {
  padding: 5px 12px;
  font-size: 12px;
  line-height: 18px;
  *line-height: 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  }
  a.btn-medium {
  line-height: 18px;
  }
  .btn-large {
  padding: 7px 18px;
  font-size: 14px;
  line-height: 20px;
  *line-height: 17px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  }
  a.btn-large {
  line-height: 22px;
  }
  .btn-xlarge {
  padding: 8px 20px;
  font-size: 16px;
  line-height: 22px;
  *line-height: 19px;
  font-weight: bold;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  }
  a.btn-xlarge {
  line-height: 24px;
  }
  .btn-xxlarge {
  padding: 10px 20px;
  font-size: 18px;
  line-height: 24px;
  *line-height: 19px;
  font-weight: bold;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  }
  a.btn-xxlarge {
  line-height: 26px;
  }
  .btn-primary {
  color: #ffffff;
  background: #3d9ccc;
  text-shadow: none;
  border: 1px #3b97c4 solid;
  }
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-primary.active,
  .btn-primary.disabled,
  .btn-primary[disabled] {
  background: #3689b3;
  color: #fff;
  border: 1px #3485ad solid;
  }
  .btn-primary:active,
  .btn-primary.active {
  background-color: #003399 \9;
  }
  .btn-warning {
  color: #ffffff;
  background-color: #ffaa00;
  border: 1px #faa700 solid;
  }
  .btn-warning:hover,
  .btn-warning:focus,
  .btn-warning:active,
  .btn-warning.active,
  .btn-warning.disabled,
  .btn-warning[disabled] {
  color: #ffffff;
  background-color: #fa9200;
  border: 1px #f58f00 solid;
  }
  .btn-warning:active,
  .btn-warning.active {
  background-color: #c67605 \9;
  }
  .btn-danger {
  color: #ffffff;
  background-color: #da4f49;
  border-color: #da4f49 #da4f49 #da4f49;
  }
  .btn-danger:hover,
  .btn-danger:focus,
  .btn-danger:active,
  .btn-danger.active,
  .btn-danger.disabled,
  .btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  }
  .btn-danger:active,
  .btn-danger.active {
  background-color: #bd362f \9;
  }
  .btn-light {
  color: #3d9ccc;
  /*text-shadow: none;
  box-shadow:none;*/
  background: #e9f1f5;
  border: 1px #e4ecf0 solid;
  }
  .btn-light:hover,
  .btn-light:focus,
  .btn-light:active,
  .btn-light.active,
  .btn-light.disabled,
  .btn-light[disabled] {
  background: #d5e9f2;
  color: #3d9ccc;
  border: 1px solid #d1e4ed;
  }
  a.btn-light:hover {
  color: #3d9ccc;
  }
  .btn-danger:active,
  .btn-danger.active {
  background-color: #bd362f \9;
  }
  .btn-success {
  color: #ffffff;
  background-color: #62a422;
  border: 1px #5a9d19 solid;
  }
  .btn-success:hover,
  .btn-success:focus,
  .btn-success:active,
  .btn-success.active,
  .btn-success.disabled,
  .btn-success[disabled] {
  color: #ffffff;
  background-color: #418c00;
  border: 1px #418c00 solid;
  }
  .btn-success:active,
  .btn-success.active {
  background-color: #408140 \9;
  }
  .btn-info {
  color: #ffffff;
  background-color: #85b4cc;
  border: 1px #81b0c7 solid;
  }
  .btn-info:hover,
  .btn-info:focus,
  .btn-info:active,
  .btn-info.active,
  .btn-info.disabled,
  .btn-info[disabled] {
  color: #ffffff;
  background-color: #3689b3;
  border: 1px #3485ad solid;
}
.btn-info:active,
.btn-info.active {} .btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}