article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
canvas {
    display: inline-block;
}
[hidden] {
    display: none;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
mark {
    background: #ff0;
    color: #000;
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
}
q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button,
input {
    line-height: normal;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
input:-webkit-autofill, 
 textarea:-webkit-autofill, 
 select:-webkit-autofill { 
       -webkit-box-shadow: 0 0 0 1000px white inset; 
}
 input[type=text]:focus, input[type=password]:focus, textarea:focus {
      -webkit-box-shadow: 0 0 0 1000px white inset; 
}

button[disabled],
html input[disabled] {
    cursor: default;
}
input[type=text]::-ms-clear,
input[type=password]::-ms-reveal{ display:none;}
input::-moz-focus-inner{border:0;}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ========================================= basic ===================================== */

.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}
p {
    margin: 0;
}
small {
    font-size: 85%;
}
strong {
    font-weight: bold;
}
em,
i {
    font-style: normal;
}
cite {
    font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: normal;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-weight: normal;
    line-height: 1;
    color: #999999;
}
h1,
h2,
h3 {
    line-height: 40px;
}
h1 {
    font-size: 38.5px;
}
h2 {
    font-size: 31.5px;
}
h3 {
    font-size: 24.5px;
}
h4 {
    font-size: 17.5px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 11.9px;
}
h1 small {
    font-size: 24.5px;
}
h2 small {
    font-size: 17.5px;
}
h3 small {
    font-size: 14px;
}
h4 small {
    font-size: 14px;
}
abbr {
    cursor: help;
    border-bottom: 1px dotted #999999;
}
ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.inline li,
ol.inline li {
    display: inline-block;
    *display: inline;
    padding-right: 5px;
    padding-left: 5px;
    *zoom: 1;
}
dl {
    margin: 0;
}
dd {
    margin-left: 0;
}
dl.horizontal {
    *zoom: 1;
}
dl.horizontal:before,
dl.horizontal:after {
    display: table;
    line-height: 0;
    content: "";
}
dl.horizontal:after {
    clear: both;
}
dl.horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
}
dl.horizontal dd {
    margin-left: 180px;
}
code,
pre {
    padding: 0 3px 2px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
    color: #333333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
code {
    padding: 2px 4px;
    color: #d14;
    white-space: nowrap;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}
pre {
    display: block;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
}
pre code {
    padding: 0;
    color: inherit;
    white-space: pre;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0;
}
pre.scrollable {
    max-height: 340px;
    overflow-y: scroll;
}
hr {
    margin: 5px 0;
    border: 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #ffffff;
    *height: 2px;
}